*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#div1{
    background-color: white;
    width: 800px;
    height: 300px;
    display: flex;
    margin-top: 200px;
    position: relative;
    border: 3px solid blue;
    
}
#div2{
    position: absolute;
    top: 13%;
    
    
}
#div3{
    position: absolute;
    right: 0px;
    left: 330px;
    top: 70px;

}
h1{
    margin-bottom: 20px;
}
img{
    
    width: 300px;
}