* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100vh;
}
.divler {
  border: solid red 2px;
}
.div1 {
  grid-area: 1/1/2/5;
  display: flex;
      flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.div2 {
  grid-area: 2/1/7/2;
  display: flex;
      flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.div3 {
  grid-area: 2/2/7/5;
  display: flex;
      flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.div4 {
  grid-area: 7/1/8/5;
  display: flex;
      flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
