#div1{
    background-color: rebeccapurple;
    width: 50%;
}
#div2{
    background-color: aqua;
    width: 5em;
}
#div{}
#div{}
#div{}


h1{
    background-color: blue;
    width: 20rem;
}
h2{
background-color: brown;

}
body{
    width: 5cm;


}